<div class="engine" ng-controller="EngineCtrl" ng-init="initEngine()" ng-class="settings.debug && 'debug'" ui-keyboard class="ng-cloak">

	<!-- Control Bar -->
	<div id="control-bar">
		<div class="control-bar-content">
			<div ng-click="fontSize = 'small-text'"><span class="stem-small-button"></span></div>
			<div ng-click="fontSize = 'medium-text'"><span class="stem-medium-button"></span></div>
			<div ng-click="fontSize = 'large-text'"><span class="stem-large-button"></span></div>

			<span class="stem-collapse-button" ng-show="settings.mode == 'stem-expanded'" ng-click="settings.mode='stem-collapsed'"></span>
			<span class="stem-expand-button" ng-show="settings.mode == 'stem-collapsed'" ng-click="settings.mode='stem-expanded'"></span>

			<div class="control-bar-buttons">
	            <span ng-show="settings.debug_mode">
                    <span ng-show="settings.can_edit">
                        <span class="control-bar-button" ng-hide="settings.editor" ng-click="set('editor', true)">Edit On</span>
                        <span class="control-bar-button" ng-show="settings.editor" ng-click="set('editor', false)">Edit Off</span>
                    </span>
	                <span class="control-bar-button" ng-hide="settings.debug" ng-click="openDebug()">{{strings.debug_on}}</span>
	                <span class="control-bar-button" ng-show="settings.debug" ng-click="closeDebug()">{{strings.debug_off}}</span>
	            </span>
				<span class="control-bar-button" ng-click="reset()">{{strings.reset}}</span>
				<span ng-repeat="button in model.content.buttons" class="control-bar-button {{button.class}}" ng-click="exec(button.command)">{{button.label}}</span>
			</div>
		</div>
	</div>

	<!-- Stem -->
	<div id="stem" class="{{fontSize}} {{settings.mode}}">
		<span class="stem-text selectable" ui-stem="model.content.stem"></span>
	</div>

	<!-- Question -->
	<div id="question" ng-controller="QuestionCtrl" ng-init="initQuestion()" class="question">
		<!-- Application -->
		<div id="application" ng-controller="ApplicationCtrl" ui-dialog ui-menu ui-keyboard>
			<div ng-include="slide_template_url" onload="onSlideLoaded()"></div>
			<div ui-widgets="widgets"></div>
		</div>
        <div id="editor" ng-show="settings.editor" ui-editor>
        </div>
	</div>
	<div class="copyright" ng-bind-html-unsafe="strings.copyright"></div>


	<div id="growl-container">
		<span class="engine-growl">{{growlData.message}}</span>
	</div>

	<!-- Dialog -->
	<div class="engine-dialog-container ng-cloak" ng-show="dlgData">
		<div class="engine-dialog-overlay"></div>
		<div class="engine-dialog">
			<div class="engine-dialog-titlebar">
				<span>{{dlgData.title}}</span>
				<span class="engine-dialog-titlebar-close" ng-click="hideDialog()"></span>
			</div>
			<div class="engine-dialog-body">
				<p>{{dlgData.message}}</p>

				<div class="engine-dialog-controlbar">
					<span class="control-bar-button engine-dialog-body-close" ng-click="hideDialog()">{{strings.close_dialog}}</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Debug Console -->
	<div ng-include="settings.console"></div>

	<!-- Authentication Dialog -->
	<div ng-include="settings.auth_dlg"></div>
</div>