<!-- application -->
<div id="application" ng-controller="MainCtrl" class="{{settings.fontSize}}" ng-class="settings.debug && 'debug'" ui-keyboard>
    <!-- splitter container outer container used to contain all items used by splitter -->
    <div id="splitter-container">
        <!-- row -->
        <div class="div-center">
            <!-- Control Bar -->
            <div id="control-bar">
                <div class="control-bar-content">
                    <div tabindex="0" style="display: inline-block;width: 30px;height: 30px;" role="button" aria-label="Small text" ng-click="settings.fontSize = 'small-text'">
                        <span class="stem-small-button">A</span>
                    </div>
                    <div tabindex="0" style="display: inline-block;width: 30px;height: 30px;" role="button" aria-label="Medium text" ng-click="settings.fontSize = 'medium-text'">
                        <span class="stem-medium-button">A</span>
                    </div>
                    <div tabindex="0" style="display: inline-block;width: 30px;height: 30px;" role="button" aria-label="Large text" ng-click="settings.fontSize = 'large-text'">
                        <span class="stem-large-button">A</span>
                    </div>
                    <!--<div ng-click="settings.fontSize = 'large-text'"><span class="stem-font-size"></span></div>-->
                    <!--<div class="stem-font-size-svg" style="display: inline-block"></div>-->

                <div class="control-bar-buttons" aria-label="">
                        <div ng-show="settings.debug_mode" style="display: inline-block">
                            <div tabindex="0" class="control-bar-button" ng-hide="settings.debug" ng-click="toggleConsole()">{{strings.debug_on}}</div>
                            <div tabindex="0" class="control-bar-button" ng-show="settings.debug" ng-click="toggleConsole()">{{strings.debug_off}}</div>
                        </div>

                        <div tabindex="0" class="control-bar-button"
                             role="button" ng-click="reset()">{{strings.reset}}
                        </div>
                        <div tabindex="0" role="button" aria-haspopup="true" ng-repeat="button in question.content.buttons" class="control-bar-button {{button.class}}"
                             style="display: inline-block" ng-click="invoke($scope, button.click)">{{button.label}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stem -->
            <div id="stem" role="presentation" class="autosize-text">
                <div tabindex="0" class="stem-text selectable" ui-stem="question.content.stem"></div>

                <div ng-show="settings.showCollapseButton">
                    <div class="stem-collapse-button" ng-hide="settings.collapsedText"
                         ng-click="settings.collapsedText = true">
                        <div class="arrow-up"></div>
                    </div>
                    <div class="stem-collapse-button" ng-show="settings.collapsedText"
                         ng-click="settings.collapsedText = false">
                        <div class="arrow-down"></div>
                    </div>
                </div>
            </div>

            <!-- Container for all the apps (including popups) -->
            <div id="canvas" focus-group="" class="container popup-container" ui-dialog ui-menu ui-keyboard>
                <div ng-if="slideUrl" class="animated-fast fadeIn" ng-include="slideUrl" onload="onSlideLoaded()"></div>
                <!--<div ui-widgets="widgets"></div>-->
            </div>
            <div id="growl-container" aria-live="assertive">
                <span class="engine-growl" ui-growl>{{growlData.message}}</span>
            </div>

            <div class="copyright" style="width: 960px;margin: 0 auto;">{{strings.copyright}}</div>

            <!-- Alert dialog -->
            <div ui-alert></div>

            <!-- Authentication Dialog -->
            <div ng-include="settings.auth_dlg"></div>
        </div>
        <div>
            <!-- Debug Console -->
            <div ng-include="settings.console"></div>
        </div>
    </div>

    <div focus-highlight=""></div>

    <div id="editor" ng-if="settings.edit_mode" ng-include="settings.editor"></div>
</div>