<div class="engine-dialog-container" ng-show="showAuth">
	<div class="engine-dialog-overlay"></div>
	<div class="engine-dialog">
		<div class="engine-dialog-titlebar">
			<span>Enable Debug Mode</span>
		</div>
		<div class="engine-dialog-body">
			<p>Please enter your authorization key.</p>

			<p><input type="text" style="width: 100%" ng-model="key"/></p>

			<div class="engine-dialog-controlbar">
				<span class="control-bar-button engine-dialog-body-close" ng-click="authorize(key)">Authorize</span>
				<span class="control-bar-button engine-dialog-body-close" ng-click="closeAuth()">Cancel</span>
			</div>
		</div>
	</div>
</div>
