<!-- Loaded into application layer. All other slides are created from Slide in widgets.html -->
<div class="slide {{view.class}}" ng-controller="SlideCtrl" ng-click="click()" ui-gclick="false" ui-show="exec('show', slide.view)"
	    style="position: absolute;top:0;left:0;right:0;bottom: 0;background: {{view.background_color}}">
    <img ng-if="view.background_image" ui-image="view" ng-src="{{view.background_image}}" style="position: absolute;top:0;left:0;width:{{view.width}}px;height:{{view.height}}px" ondragstart="return false"/>
    <!-- the form and the submit are so if they hit enter it will respond (i.e. in a dialog) -->
    <!--<form class="content" ng-submit="exec('submit', slide.view)" ui-keyboard>-->
    <form class="content" ui-keyboard>
        <!-- This hidden submit button allows us to hit enter in a text field, then a submit occurs -->
        <input type="submit" style="display: none"/>
	    <div ui-widgets="widgets"></div>
    </form>
</div>
