<div id="debug-console" ng-controller="ConsoleCtrl" ng-init="selected = 'model'" ng-if="settings.debug"
     class="{{selected && 'expanded'}}">
    <div class="head">
        <ul class="tabs">
            <!--<li ng-click="select('')" class="{{selected == '' && 'active'}}">#</li>-->
            <li ng-click="select('score')" class="{{selected == 'score' && 'active'}}">Report Card</li>
            <li ng-click="select('model')" class="{{selected == 'model' && 'active'}}">Inspect</li>
            <li ng-click="select('log')" class="{{selected == 'log' && 'active'}}">Log</li>
            <li ng-click="select('io')" class="{{selected == 'io' && 'active'}}">Data</li>
        </ul>
        <ul class="details">
            <li>{{settings.version}}</li>
            <li>{{question.id}}</li>
            <li>{{question.language}}</li>
            <li ng-if="reportCard.pass" class="exam-pass">Pass</li>
            <li ng-hide="reportCard.pass" class="exam-fail">Fail</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="body">

        <!-- Model -->
        <div class="debug-model" ng-if="selected=='model'">

            <div class="console-scroll">
                <div ux-jsonview ng-model="model.data"></div>
                <div ux-jsonview ng-model="model.slides"></div>
            </div>
        </div>

        <!-- Score -->
        <div class="debug-score" ng-if="selected=='score'">
            <p class="note" ng-hide="reportCard">No actions have been taken yet to score against.</p>

            <div class="console-scroll">
                <div ng-if="reportCard.details.any.length">
                    <p class="note any">Any of the following must be true.</p>
                    <table>
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Operator</th>
                            <th>Value</th>
                            <th>Current</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in reportCard.details.any" ng-class="{pass: item.pass}">
                            <td class="property">{{item.property}}</td>
                            <td class="operator">{{item.operator}}</td>
                            <td class="value">{{item.value}}</td>
                            <td class="current">{{item.current}}</td>
                            <td ng-if="item.pass">PASS</td>
                            <td ng-hide="item.pass">FAIL</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="reportCard.details.all.length">
                    <p class="note all">All of the following must be true.</p>
                    <table>
                        <thead>
                        <tr>
                            <th>Property</th>
                            <th>Operator</th>
                            <th>Value</th>
                            <th>Current</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in reportCard.details.all" ng-class="{pass: item.pass}">
                            <td class="property">{{item.property}}</td>
                            <td class="operator">{{item.operator}}</td>
                            <td class="value">{{item.value}}</td>
                            <td class="current">{{item.current}}</td>
                            <td ng-if="item.pass">PASS</td>
                            <td ng-hide="item.pass">FAIL</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Log -->
        <div class="debug-log" ng-if="selected=='log'">
            <div scroll-glue class="console-scroll selectable" style="font-size:12px;font-family:Arial, sans;padding-bottom: 5px">
                <div ng-repeat="log in logs" ng-switch="log.type" style="border-bottom: 1px solid #e8e8e8" ng-init="scrollToBottom()">
                    <div ng-if="log.ts" style="float: right;padding-right: 25px;font-weight:bold;padding-top: 2px">
                        {{log.ts | date:'m'}}m {{log.ts | date:'ss'}}s
                    </div>
                    <div ng-switch-when="function"
                         style="display: inline-block;padding:2px 10px;padding-left:25px;color:green">{{log.name}}
                        [waitType="{{log.details.waitType}}", waitTime="{{log.details.waitTime}}", limit="{{log.details.limit}}"]
                    </div>
                    <div ng-switch-when="event"
                         style="display: inline-block;padding:2px 10px;color:#1d1e18;font-weight: bold">
                        {{log.target}} :: {{log.widget.type}}("{{log.widget.id}}") :: {{log.name}}
                    </div>
                    <div ng-switch-when="call"
                         style="display: inline-block;padding:2px 10px;color:#1d1e18;font-weight: bold">
                        Toolbar :: {{log.name}}
                    </div>
                    <div ng-switch-when="command"
                         style="display: inline-block;padding:2px 10px;color:#8e44ad;padding-left: 25px">
                        ~ "{{log.name}}"
                        <div style="padding-left: 25px;color: #3b5065">
                            <div ng-repeat="(prop, val) in log.data">{{prop}} = {{val}}</div>
                        </div>
                    </div>
                    <div ng-switch-when="action"
                         style="display: inline-block;padding:2px 10px;padding-left:50px;color:blue;">
                        <div>{{log.name}}</div>
                        <div style="padding-left: 25px;color: #3b5065">
                            <div ng-repeat="(prop, val) in log.data">{{prop}} = {{val}}</div>
                        </div>
                    </div>
                    <div ng-switch-when="invalidAction"
                         style="display: inline-block;padding:2px 10px;padding-left:50px;color:red;">
                        <div>{{log.name}}</div>
                        <div style="padding-left: 25px;color: #3b5065">
                            <div ng-repeat="(prop, val) in log.data">{{prop}} = {{val}}</div>
                        </div>
                    </div>
                    <div ng-switch-when="invalid"
                         style="display: inline-block;padding:2px;padding-left:25px;color:red;">Invalid call
                    </div>
                </div>
            </div>
            <div style="position:absolute;bottom:15px;right:25px">
                <button style="padding:5px 10px" ng-click="clearLogs()">Clear</button>
            </div>
        </div>

        <!-- File I/O -->
        <div class="debug-io" ng-if="selected=='io'">
            <p class="note" style="padding: 5px">
                <a class="console-btn" href="" ng-click="read()">Read</a>
                <a class="console-btn" href="" ng-click="write()">Write</a>
            </p>
            <textarea rows="10" class="selectable horiz-fill" style="resize: none;border: none"
                      ng-model="model.io_data"></textarea>
        </div>
    </div>
</div>