<!-- button -->
<script id="button" type="template/html">
    <div id="widget.id" focus-index="0" focus-element="widget.autofocus" role="button" class="@widget button {{widget.class}}"
         title="{{widget.title}}"
         ui-button value="widget.valueOn" toggle="widget.toggle"
         ng-disabled="widget.disable"
         ui-aria="widget"
         ui-events="widget"
         ui-tooltip="widget"
         style="widget.style;@position">{{widget.label}}
    </div>
</script>

<!-- split button-->
<script id="splitbutton" type="template/html">
    <div id="widget.id" role="splitbutton" class="@widget button-split {{widget.class}}"
         ng-disabled="widget.disable"

         style="widget.style;@position">
        <div focus-index="0" role="button" ui-aria="widget" class="button-push" ui-events="widget" ui-tooltip="widget">{{widget.pushlabel}}</div>
        <div focus-index="0" role="button" ui-aria="widget" class="button-toggle"
             title="{{widget.title}}"
             ui-button disable="widget.disable" value="widget.valueOn" toggle="true"
             ui-tooltip="widget">{{widget.toggleLabel}}
        </div>
    </div>
</script>

<!-- image -->
<script id="image" type="template/html">
    <img id="widget.id" focus-index="widget.focus-index" role="img" aria-label="widget.alt" class="@widget image {{widget.class}}" ng-src="{{widget.src}}"
         ui-image="widget"
         ui-tooltip="widget"
         ui-events="widget"
         ui-aria="widget"
         ondragstart="return false"
         style="widget.style;@position"/>
</script>

<!-- label -->
<script id="label" type="template/html">
    <div focus-index="0" class="@widget label {{widget.class}}"
         ui-events="widget"
         ui-aria="widget"
         ui-tooltip="widget"
         style="widget.style;@position">
        {{widget.text}}
    </div>
</script>

<!-- html -->
<script id="html" type="template/html">
    <div focus-index="0" class="@widget html {{widget.class}}" ui-events="widget" ui-html
         ui-aria="widget"
         style="widget.style;@position">
    </div>
</script>

<!-- text -->
<script id="text" type="template/html">
    <input focus-index="0"
           class="@widget text {{widget.class}}"
           ng-model="widget.text"
           ui-set-focus="widget.focus"
           ui-events="widget"
           ui-aria="widget"
           ui-restrict="{{widget.restrict}}"
           ui-format="{{widget.format}}"
           ui-mask="{{widget.mask}}"
           maxlength="{{widget.maxlength}}"
           ui-tooltip="widget"
           placeholder="{{widget.placeholder}}"
           ng-disabled="widget.disabled"
           style="widget.style;@position"/>
</script>

<!-- textarea -->
<script id="textarea" type="template/html">
    <textarea focus-index="0"
              class="@widget text {{widget.class}}"
              ng-model="widget.text"
              ui-set-focus="widget.focus"
              ui-events="widget"
              ui-aria="widget"
              ui-restrict="{{widget.restrict}}"
              ui-format="{{widget.format}}"
              ui-tooltip="widget"
              placeholder="{{widget.placeholder}}"
              ng-disabled="widget.disabled"
              style="widget.style;@position"></textarea>
</script>

<!-- password -->
<script id="password" type="template/html">
    <input focus-index="0"
           class="@widget password {{widget.class}}" type="password"
           ng-model="widget.text"
           ui-events="widget"
           ui-aria="widget"
           ui-set-focus="widget.focus"
           ui-tooltip="widget"
           placeholder="{{widget.placeholder}}"
           ng-disabled="widget.disabled"
           style="widget.style;@position"/>
</script>

<!-- checkbox -->
<script id="checkbox" type="template/html">
    <div focus-index="0" class="@widget checkbox {{widget.class}}" ui-events="widget"
         ui-tooltip="widget"
         style="widget.style;@position;cursor:default;white-space:nowrap">
        <label style="cursor:default">
            <input type="checkbox" style="cursor:default;" ng-model="widget.model" ng-true-value="widget.trueValue"
                   ui-aria="widget"
                   ng-false-value="widget.falseValue"
                   ng-false-value="no" ng-disabled="widget.disabled">

            <div style="display: inline-block;">{{ widget.label }}</div>
        </label>
    </div>
</script>

<!-- radio -->
<script id="radio" type="template/html">
    <div focus-index="0" class="@widget radio {{widget.class}}" ui-events="widget" ui-aria="widget"
         style="widget.style;@position;white-space:nowrap">
        <label style="cursor:default">
            <input type="radio" ng-model="widget.model" style="cursor:default" value="{{widget.value}}"
                   ng-disabled="widget.disabled">
            {{ widget.label }}
        </label>
    </div>
</script>

<!-- box -->
<script id="box" type="template/html">
    <div id="widget.id" focus-group="" focus-head="widget.focus_head" focus-tail="widget.focus_tail"
         ng-controller="BoxCtrl" class="@widget box widget.flow {{widget.class}}" ui-events="widget"
         ui-aria="widget"
         ui-widgets="widgets"
         style="widget.style;@position">
    </div>
</script>

<!-- dropdown -->
<script id="dropdown" type="template/html">
    <select focus-index="0"
            class="@widget dropdown {{widget.class}}" ui-list="widget"
            ui-tooltip="widget"
            ui-events="widget"
            ui-aria="widget"
            style="widget.style;@position">
        <option ng-repeat="o in options" value="{{o.value}}">{{o.label}}</option>
    </select>
</script>

<!-- listbox -->
<script id="listbox" type="template/html">
    <select focus-index="0"
            class="@widget listbox {{widget.class}}" ui-list="widget"
            size="2"
            ui-tooltip="widget"
            ui-events="widget"
            ui-aria="widget"
            style="widget.style;@position">
        <option ng-repeat="o in options" value="{{o.value}}">{{o.label}}</option>
    </select>
</script>

<!-- stepper -->
<script id="stepper" type="template/html">
    <div focus-index="0" ui-stepper class="@widget stepper {{widget.class}}" ui-tooltip="widget"
         style="widget.style;@position">
        <input type="text" ng-model="displayValue" class="stepper-text"
               ui-set-focus="widget.focus" ui-blur="update(value)"/>

        <div focus-index="0" ui-aria="widget" ng-mousedown="startStep(-1)" ng-mouseup="stopStep()" class="stepper-button prev"><span
                class="stepper-arrow"></span></div>
        <div focus-index="0" ui-aria="widget" ng-mousedown="startStep(1)" ng-mouseup="stopStep()" class="stepper-button next"><span
                class="stepper-arrow"></span></div>
    </div>
</script>

<!-- slide -->
<script id="slide" type="template/html">
    <div focus-group="" focus-stack="{{view.focus_stack}}" focus-group-head="{{view.focus_head}}" focus-group-tail="{{view.focus_tail}}"
         ng-controller="SlideCtrl" class="@widget slides {{widget.class}}"
         style="widget.style;@position;background:{{widget.background_color}}">
        <img ng-if="view.background_image" class="{{view.class}}" style="position: absolute;top:0;left:0"
             ng-show="view.background_image"
             ui-image="view" ng-src="{{view.background_image}}" ondragstart="return false"/>
        <!--the form and the submit are so if they hit enter it will respond (i.e. in a dialog) -->
        <form class="content" ui-keyboard>
            <!-- This hidden submit button allows us to hit enter in a text field, then a submit occurs -->
            <input type="submit" style="display: none"/>

            <div ui-widgets="widgets"></div>
        </form>
    </div>
</script>

<!-- menu -->
<script id="menu" type="template/html">
    <div focus-group="" focus-stack="{{view.focus_stack}}" focus-group-head="{{view.focus_head}}" focus-group-tail="{{view.focus_tail}}"
         ng-controller="SlideCtrl" ui-scrollpane class="{{widget.class}}"
         style="widget.style;@position;background:widget.background_color">
        <div class="scroll-up" ng-show="scrollable"></div>
        <div class="slides scroll-view" style="position:relative;height:100%;overflow:hidden;">
            <img class="bg-image" style="position: absolute;" ng-src="{{view.background_image}}" ondragstart="return false"/>

            <div ui-widgets="widgets"></div>
        </div>
        <div class="scroll-down" ng-show="scrollable"></div>
    </div>
</script>

<!-- Selected Response -->
<script id="choice" type="template/html">
    <div ui-choice ui-focus="" ng-model="widget.state" class="@widget sr sr-choice {{widget.class}}"
         style="widget.style;@position;" ui-events="widget" ui-font="widget">
        <div  class="sr-choice-header" ng-show="'widget.header'">widget.header</div>
        <ul style="min-height: 100%;">
            <li tabindex="0" id="{{widgetHashKey}}_{{option.id}}" ui-choice-option
                ng-repeat="option in widget.state" class="selectable choice"
                ng-class="{selected:option.selected}"
                title="{{option.title}}" ng-click="select(option)" ui-html="option.label">
            </li>
        </ul>
    </div>
</script>

<script id="hotspot" type="template/html">
    <div class="@widget sr sr-hotspot {{widget.class}}" ui-hotspot ui-aria="widget"
         style="widget.style;@position">
        <div class="background"></div>
        <div class="canvas"></div>
        <div class="sprite pin" style="position:absolute;top:0;left:0"></div>
    </div>
</script>

<!--<script id="sequence" type="template/html">-->
    <!--<div class="@widget sr sr_sequence {{settings.fontSize}} {{widget.class}}" ui-sequence>-->
        <!--<ul focus-group="" ui-sortable="{connectWith:'.connectedSortable'}" data-model="model.listA" id="sortable1"-->
            <!--class="connectedSortable">-->
            <!--<li ng-repeat="item in model.listA" class="ui-state-default">{{item.label}}</li>-->
        <!--</ul>-->

        <!--<ul focus-group="" ui-sortable="{connectWith:'.connectedSortable'}" data-model="model.listB" id="sortable2"-->
            <!--class="connectedSortable">-->
            <!--<li ng-repeat="item in model.listB" class="ui-state-highlight">{{item.label}}</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</script>-->

<script id="calculator" type="template/html">
    <div id="widget.id" ui-calculator class="@widget calculator" style="widget.style;@position">
        <form>
            <div class="calc">
                <div class="calc-bar clearfix">
                    <div class="calc-close" ng-click="close()">&times;</div>
                    <div class="calc-grip">
                        <div class="calc-grip-line"></div>
                        <div class="calc-grip-line"></div>
                        <div class="calc-grip-line"></div>
                    </div>
                </div>
                <div class="calc-screen">{{display}}</div>
                <div class="calc-buttonpad clearfix">
                    <a ng-click="memoryClear()">MC</a>
                    <a ng-click="memoryAdd()">M+</a>
                    <a ng-click="memorySub()">M-</a>
                    <a ng-click="memoryShow()" ng-class="{memoryOn: memory.length}">MR</a>
                    <a ng-click="clearCalc()">C</a>
                    <a ng-click="changeSign()">&plusmn;</a>
                    <a ng-click="acceptInput('/')">&divide;</a>
                    <a ng-click="acceptInput('*')">&times;</a>
                    <a ng-click="acceptInput(7)">7</a>
                    <a ng-click="acceptInput(8)">8</a>
                    <a ng-click="acceptInput(9)">9</a>
                    <a ng-click="acceptInput('-')">&minus;</a>
                    <a ng-click="acceptInput(4)">4</a>
                    <a ng-click="acceptInput(5)">5</a>
                    <a ng-click="acceptInput(6)">6</a>
                    <a ng-click="acceptInput('+')">&plus;</a>
                    <a ng-click="submit()" class="equal-sign">=</a>
                    <a ng-click="acceptInput(1)">1</a>
                    <a ng-click="acceptInput(2)">2</a>
                    <a ng-click="acceptInput(3)">3</a>
                    <a class="zero" ng-click="acceptInput(0)">0</a>
                    <a ng-click="acceptInput('.')">.</a>
                </div>
            </div>
        </form>
    </div>
</script>