/* add custom styles here */

.exp-btn {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.exp-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.exp-btn:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cdcdcd), color-stop(1, #ededed));
    background: -moz-linear-gradient(center top, #cdcdcd 5%, #ededed 100%);
    background-color: #cdcdcd;
}

.close-button {
    background-color: #2e6c8c;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #2e6c8c;
    display: inline-block;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 5px 7px 4px;
    margin: 0;
    top: 0;
    right: 0;
}

.close-button:hover {
    background-color:#cbeffc;
}

.exhibit {
    outline: #2e6c8c solid 4px;
    -webkit-box-shadow: 5px 5px 5px 5px #000000;
    box-shadow: 5px 5px 5px 5px #868686;
}

.toolbar {
    background-color: black;
}

.doc-label {
    font-size: 36px;
    padding: 5px 15px;
}

.doc1 {
    background-color: #34495e;
    color: white;
    -webkit-border-radius: 6px;

    border-radius: 6px;
}

.doc2 {
    background-color: red;
}

.hotspot-button {
  padding: 0;
}

.hotspot-button:hover {
  outline: 1px solid #F1CA58;
  background-color: rgba(241, 202, 88, .2);
}

.scrollable {
    overflow: auto;
}
