<link rel="import" href="../settings_view/settings_view.html">
<link rel="import" href="../game_view/game_view.html">

<polymer-element name="main-view">
  <template>
    <link rel="stylesheet" href="../../../resources/css/app.css">

    <style>

    </style>

    <header class="flexbox-row-nowrap flex-align-items-center">
      <div class="toolbar-button-group">
        <template if="{{currentView == 'game_view'}}">
          <button class="btn btn-default animated fadeIn" on-mousedown="{{showSettingsView}}" title="Settings">
            <img src="{{model.images_path}}settings.svg" class="toolbar-icon">
          </button>
        </template>
      </div>
      <div id="app-title" class="flex1">Remember Me?</div>
      <div class="toolbar-button-group">
        <template if="{{currentView == 'game_view'}}">
          <button class="btn btn-default animated fadeIn" on-mousedown="{{replay}}" title="Replay">
            <img src="{{model.images_path}}refresh.svg" class="toolbar-icon">
          </button>
        </template>
      </div>
    </header>

    <main class="flexbox-row-nowrap flex-justify-center flex1">
      <div class="box-container flexbox-row-nowrap flex-justify-center">
        <settings-view model="{{model}}" hidden?="{{currentView != 'settings_view'}}"></settings-view>

        <template if="{{currentView == 'game_view'}}">
          <game-view id="game_view" model="{{model}}"></game-view>
        </template>
      </div>
    </main>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>