<polymer-element name="card-view">
  <template>
    <style>
      .card-container {
        /*display: inline-block;*/
        text-align: justify;
        width: 160px;
        height: 200px;
        margin: 10px;
      }

      .card-container .card.flipped .face {
        -moz-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }

      .card-container .card.flipped .back {
        -moz-transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
      }

      .card {
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-perspective: 1000;
        -webkit-perspective: 1000;
        perspective: 1000;
        width: 95%;
        height: 95%;
        position: relative;
      }

      .face, .back {
        position: absolute;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transition: -moz-transform 0.5s ease-in;
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        width: 100%;
        height: 100%;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        box-shadow: inset 0px 0px 20px rgba(0,0,0,0.4);
        border-radius: 4px;
        background-size: 92% 160px;
        background-repeat: no-repeat;
      }

      .face {
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        overflow: hidden;
        background-position: top center;
      }

      .back {
        background-position: center;
      }

      .card-title {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 10px;
        cursor: default;
      }

      .matched {
        opacity: 0.3;
      }
    </style>

    <div class="card-container {{ {'matched': card.matched} }}" on-mousedown="{{flip}}">
      <div class="card {{ {'flipped': card.flipped} }}">
        <div class="face" style="background-image: url('{{imageURL}}');">
          <div class="card-title user-select-none">{{card.title}}</div>
        </div>
        <div class="back" style="background-image: url('{{backImageURL}}');"></div>
      </div>
    </div>
  </template>

  <script type="application/dart" src="card_view.dart"></script>
</polymer-element>